<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>Transaction History</h2>

	<table th:object="${transaction}">
		<tr>
		
		<h2 th:inline="text" >Transaction ID:[[${transaction.id}]] 
		
		
		<span th:if="${transaction.type == 'D'}">DEBIT</span>
		<span th:if="${transaction.type == 'C'}">CREDIT</span>
		
		</h2>
			<p>DATE: [[${transaction.date}]]</p>
			<p th:text="${transaction.type == 'D'} ? ${transaction.amount} : -${transaction.amount}"></p>
		
			<p>DESCRIPTION [[${transaction.description}]]</p>
		</tr>
		
		</table>
		
		<form th:action="@{/transactions}" method="get">
	
		<button>Back</button>
	</form>
</body>
</html>